/*header*/
header {
    width: 100%;
  }
  
  .header-anita {
    background-color: rgb(238, 177, 157);
  }
  
  .botonav {
    background-color: rgb(243, 217, 234);
  }
  
  .botonav:hover {
    background-color: rgb(245, 189, 225);
  }
  
  .logo {
    transition: all 3s;
  }
  
  .logo:hover {
    transform: rotate(360deg);
  }
  
  /*fin header*/
  /*footer*/
  #contacto {
    width: 100%;
    height: 15vh;
    padding: 1% 5%;
    background-color: rgb(238, 177, 157);
  }
  
  .contenido {
    display: inline-block;
    width: 30%;
    text-align: center;
  }
  
  .contenido iframe {
    width: 10vw;
    height: 7vh;
    object-fit: cover;
  }
  
  .facebook, .instagram {
    display: block;
  }
  
  /*fin footer*/
  /*index*/
  .foto {
    height: 50vh;
  }
  
  .colorcarru {
    background-color: darkslategray;
  }
  
  .carouselmio {
    position: initial;
  }
  
  h1 {
    font-family: "Kanit", sans-serif;
    color: darkslategray;
    padding: 2% 0%;
  }
  
  .videoz {
    height: 50vh;
  }
  
  .cardindex {
    padding-bottom: 10vh;
  }
  
  /*fin index*/
  /*contenido como comprar- quienes somos-preguntasfrecuentes*/
  .como {
    width: 60vw;
    background-color: rgb(243, 217, 234);
  }
  
  .comocard {
    text-align: -webkit-center;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  
  .bgcard {
    background-color: darkslategray;
  }
  
  ol li {
    text-align: left;
  }
  
  /*fin como comprar*/
  /*winter*/
  .conttargeta {
    perspective: 800px;
    transition: all 0.3s ease 0s;
    height: 60vh;
    object-fit: cover;
  }
  
  .conttargeta:hover .targeta {
    transform: rotateY(180deg);
  }
  
  .targeta {
    cursor: default;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    -webkit-animation: giro 1s 1;
    align-items: center;
    border: none;
  }
  
  .frontfoto, .backfoto {
    backface-visibility: hidden;
    color: black;
    position: absolute;
    text-align: center;
    height: 50vh;
  }
  
  .backfoto {
    transform: rotateY(180deg);
    background-color: rgb(243, 217, 234);
  }
  
  .container {
    padding-top: 4%;
  }
  
  .imgcol {
    height: 50vh;
    object-fit: cover;
  }
  
  .bgcolorwinter {
    background-color: darkslategray;
  }
  
  .col {
    padding: 10px;
  }
  
  .card-img-top {
    height: 50vh;
    object-fit: cover;
  }
  
  /*sale*/
  .fotosale {
    height: 50vh;
    object-fit: cover;
  }
  
  .sale {
    background-color: darkslategray;
  }
  
  #saletitulo {
    background-color: rgb(243, 217, 234);
    text-align: center;
  }
  
  @media screen and (max-width: 480px) {
    #contacto {
      font-size: x-small;
    }
    .row-cols-3 {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(6, 40vh);
    }
    .row-cols-4 {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(20, 40vh);
    }
    .backfoto, .frontfoto {
      height: 100%;
      width: 100%;
    }
    .targeta {
      height: 35vh;
      width: 80vw;
    }
    .parrafoto {
      font-size: small;
    }
    ol li {
      font-size: x-small;
    }
    .como {
      width: 90vw;
    }
    .texto {
      font-size: x-small;
    }
    .titulotexto {
      font-size: small;
    }
  }
  
  /*# sourceMappingURL=style.css.map */