* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body section h1, .sale h1, section h1 {
  font-family: "Kanit", sans-serif;
  color: #e5bd45;
  padding: 2% 0%;
  text-align: center;
}

.sale .container div .conttargeta, section .container div .conttargeta {
  perspective: 800px;
  transition: all 0.3s ease 0s;
  height: 60vh;
  object-fit: cover;
}
.sale .container div .conttargeta:hover .targeta, section .container div .conttargeta:hover .targeta {
  transform: rotateY(180deg);
}

.sale .container div .targeta, section .container div .targeta {
  cursor: default;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  -webkit-animation: giro 1s 1;
  align-items: center;
  background-color: rgb(184, 159, 122);
  border: none;
}
@media screen and (max-width: 480px) {
  .sale .container div .targeta, section .container div .targeta {
    height: 35vh;
    width: 80vw;
  }
}

.sale .container div .frontfoto, section .container div .frontfoto {
  backface-visibility: hidden;
  color: black;
  text-align: center;
  height: 50vh;
  border: 3px solid #ac8718;
  border-radius: 10%;
}
@media screen and (max-width: 480px) {
  .sale .container div .frontfoto, section .container div .frontfoto {
    height: 100%;
    width: 100%;
  }
}

.sale .container .backfoto, section .container div .backfoto {
  backface-visibility: hidden;
  color: black;
  text-align: center;
  position: absolute;
  height: 52vh;
  transform: rotateY(180deg);
  background-color: rgb(184, 159, 122);
  display: inline-block;
  width: 17vw;
  border: 3px solid #ac8718;
  border-radius: 10%;
  background-color: #f2dd9e;
}
@media screen and (max-width: 480px) {
  .sale .container .backfoto, section .container div .backfoto {
    height: 100%;
    width: 100%;
  }
}

header {
  width: 100%;
}
header .header-anita {
  border-bottom: 3px solid #ac8718;
  background-color: darkslategray;
}
header .header-anita div .logo {
  border: 3px solid #ac8718;
  transition: all 3s;
}
header .header-anita div .logo:hover {
  transform: rotate(360deg);
}
header .header-anita div ul .botonav {
  font-family: "Kanit";
  border: ridge;
  border-color: #ac8718;
  background-color: rgb(184, 159, 122);
}
header .header-anita div ul .botonav:hover {
  background-color: #c1ab8b;
}

.colorcarru {
  border-bottom: 3px solid #ac8718;
  background-color: rgb(184, 159, 122);
}
.colorcarru div div .foto {
  height: 50vh;
}

h1 {
  background-color: darkslategray;
  font-family: "Kanit", sans-serif;
  color: #e5bd45;
  padding: 2% 0%;
  border-bottom: 3px solid #ac8718;
  margin: unset;
}

.cardindex {
  padding: 10vh 5%;
}
.cardindex div div .card {
  height: 100%;
  border: 3px solid #ac8718;
}
.cardindex div div .card .videoz {
  height: 50vh;
}
.cardindex div div .card h5 {
  font-family: "Kanit";
}
.cardindex div div .card p {
  font-family: "Kanit";
}

.comocard {
  text-align: -webkit-center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.comocard .como {
  width: 60vw;
  background-color: #f2dd9e;
  border-radius: 55px 0px 55px 0px;
  border: 3px solid #ac8718;
}
@media screen and (max-width: 480px) {
  .comocard .como {
    width: 90vw;
  }
}
.comocard .como .bgcard {
  background-color: #ac8718;
}
.comocard .como ol li {
  font-family: "Kanit";
  color: black;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .comocard .como ol li {
    font-size: smaller;
  }
}
.comocard .como .text-center {
  color: #e5bd45;
  font-family: "Kanit";
  border-radius: 55px 0px 55px 0px;
}
.comocard .como .titulotexto {
  font-family: "Kanit";
  color: black;
}
@media screen and (max-width: 480px) {
  .comocard .como .titulotexto {
    font-size: small;
  }
}
.comocard .como .texto {
  font-family: "Kanit";
  color: black;
}
@media screen and (max-width: 480px) {
  .comocard .como .texto {
    font-size: smaller;
  }
}

footer {
  height: 15vh;
  width: 100%;
  padding: 1% 5%;
  background-color: darkslategray;
  border-top: 3px solid #ac8718;
  text-align: center;
}
footer .contenido {
  display: inline-block;
  width: 30%;
}
footer .contenido iframe {
  height: 7vh;
  width: 10vw;
  object-fit: cover;
}
footer .contenido .facebook {
  display: block;
  padding-bottom: 2%;
}
footer .contenido .facebook .imgred {
  height: 4vh;
}
footer .contenido .instagram {
  display: block;
}
footer .contenido .instagram .imgred {
  height: 4vh;
}

section {
  background-color: rgb(184, 159, 122);
}
section h1 {
  font-family: "Kanit";
}
section .container {
  padding-top: 4%;
}
@media screen and (max-width: 480px) {
  section .container div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(20, auto);
  }
}
section .container div .col {
  padding: 10px;
}
section .container div .card-img-top {
  height: 50vh;
  object-fit: cover;
}
section .container div .parrafoto {
  font-family: "Kanit";
}
@media screen and (max-width: 480px) {
  section .container div .parrafoto {
    font-size: small;
  }
}

.sale {
  background-color: rgb(184, 159, 122);
}
.sale h1 {
  font-family: "Kanit";
}
.sale .container {
  padding-top: 4%;
}
@media screen and (max-width: 480px) {
  .sale .container div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
  }
}
.sale .container div .col {
  padding: 10px;
}
.sale .container div .fotosale {
  height: 50vh;
  object-fit: cover;
}
.sale .container .backfoto .parrafoto {
  font-family: "Kanit";
}
@media screen and (max-width: 480px) {
  .sale .container .backfoto .parrafoto {
    font-size: small;
  }
}

body {
  background-color: rgb(184, 159, 122);
}
body section {
  background-color: rgb(184, 159, 122);
}
body section h1 {
  font-family: "Kanit";
}
body section .contcompra {
  padding: 5% 5%;
  width: 50vw;
  margin: 10% auto;
  border-radius: 55px 0px 55px 0px;
  border: 3px solid #ac8718;
  background-color: #f2dd9e;
}
@media screen and (max-width: 480px) {
  body section .contcompra {
    width: 90vw;
  }
}
body section .contcompra form .sub {
  display: flex;
  justify-content: center;
}
body section .contcompra form .sub .submit {
  width: auto;
  border: 1px solid #ac8718;
  margin-top: 10%;
  height: 10vh;
  background-color: rgb(184, 159, 122);
  padding: 0% 3%;
}
body section .contcompra form .formu {
  margin-bottom: 1%;
}
body section .contcompra form .formu .formuimpu {
  width: 100%;
  border: 1px solid #ac8718;
  height: 5vh;
  padding-left: 3%;
}

/*# sourceMappingURL=style.css.map */
