*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import 'base/variables.scss';
@import 'componentes/header';
@import 'componentes/index';
@import 'componentes/comoquienespreguntas';
@import 'componentes/footer';
