footer{
    @include tamaños(15vh, 100%);
    padding: 1% 5%;
    background-color: $bg-home-footer;
    border-top: map-get($bordes, borde);
    text-align: center;
    .contenido{
        font-family: map-get($bordes, texto);
        display: inline-block;
        width: 30%;
        text-align: center;
        color: white;
    }
    .contenido{
        iframe{
            @include tamaños(7vh, 10vw);
            object-fit: cover;
        }
    }
    .contenido{
        .facebook{
            display: block;
            padding-bottom: 2%;
            .imgred{
                height: 4vh;
            }
        }
        .instagram{
            display: block;
            .imgred{
                height: 4vh;
            }
        }
    }

}