header{
    width: 100%;
    .header-anita{
        border-bottom: map-get($bordes, borde);
        background-color: $bg-home-footer;
        div{
            .logo{
                border: map-get($bordes, borde);
                transition: all 3s;
                &:hover{
                    transform: rotate(360deg);
                }
            }
            ul{
                .botonav{
                    font-family: map-get($bordes, texto);
                    border: ridge;
                    border-color: $bg-bordes;
                    background-color: $bg-oscuro;
                    &:hover{
                        background-color: lighten($bg-oscuro, 5%);
                    }
                }
            }
        }
    }
}