header{
    width: 100%;
    .header-anita{
        background-color: $bg-home-footer;
        div{
            .logo{
                transition: all 3s;
                &:hover{
                    transform: rotate(360deg);
                }
            }
            ul{
                .botonav{
                    background-color: $bg-claro;
                    &:hover{
                        background-color: rgb(245, 189, 225);
                    }
                }
            }
        }
    }
}