.colorcarru{
    border-bottom: map-get($bordes, borde);
    background-color: $bg-oscuro;
    div{
        div{
            .foto{
                height: 50vh;
            }
        }
    }
}
h1{
    background-color: $bg-home-footer;
    font-family: "Kanit", sans-serif;
    color: lighten($bg-bordes, 20%);
    padding: 2% 0%;
    border-bottom: map-get($bordes, borde);
    margin: unset;
}
.cardindex{
    padding: 10vh 5%;
    div{
        div{
            .card{
                height: 100%;
                border: map-get($bordes, borde);
                .videoz{
                    height: 50vh;
                }
                h5{
                    font-family: map-get($bordes, texto);
                }
                p{
                    font-family: map-get($bordes, texto);
                }
            }
        }
    }
}