.sale{
    background-color: $bg-oscuro;
    h1{
        @extend %h1-winter-sale;
        font-family: map-get($bordes, texto);
    }
    .container{
        padding-top: 4%;
        div{
            @media screen and (max-width: 480px){
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: repeat(6, auto);
            }
            .col{
                padding: 10px;
            }
            .conttargeta{
                @extend %contenedortarjetas;
                  }
                .targeta{
                    @extend %tarjeta;
                    }
                    .fotosale{
                        height: 50vh;
                        object-fit: cover;
                    }
                    .frontfoto{
                        @extend %frontfoto;
                        
                        }
                    }
                    .backfoto{
                        @extend %backfoto;
                        .parrafoto{
                            font-family: map-get($bordes, texto);
                            @media screen and (max-width: 480px){
                                font-size: small;
                            }
                        }
                    }
                }
            }
        